.c-button{
	-fx-background-color: #696969;
}
.scroll-pane{
	-fx-focus-color: #000000;
	-fx-background-color: transparent;
}
.highlight-label{
	-fx-text-alignment: center;
	-fx-text-fill: #FFFFFF;
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-width: 1;
	-fx-border-color: green;
}
.pane-with-border{
	-fx-border-style: hidden solid hidden hidden;
	-fx-border-color: #737373;
}
#main-pane{
	-fx-background-color: gray;
}
#error-label{
	-fx-text-alignment: center;
	-fx-text-fill: #cc0000;
}
